html {
  font-size: 10px;
  -webkit-text-size-adjust: 100%;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a {
  text-decoration: none;
}
body {
  background-color: #fafaf9;
  font-family: "Alegreya", "Georgia", "source-han-serif-sc", serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}
body .blog {
  max-width: 1170px;
  min-height: 100vh;
  background-color: #fafaf9;
  margin: 0 auto;
}
body .blog .content {
  box-sizing: border-box;
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
}
